@tailwind base;
@tailwind components;
@tailwind utilities;
@splidejs react-splide/css;
@splidejs react-splide/css/skyblue;
@splidejs react-splide/css/sea-green;
@splidejs react-splide/css/core;

.translucent-right {
    position: relative;
    display: inline-block;
    }
    
    .translucent-right::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 100%; /* Ajusta este valor para cambiar la posición de la opacidad */
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 100%);
        pointer-events: none; /* Asegura que el pseudo-elemento no interfiera con los eventos del ratón */
        }
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
        