---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <div class="max-h-screen h-screen bg-zinc-800 flex  items-start">
    <img class="max-w max-h-full object-contain" src="/images/clasic-burger.jpg" alt="clasic-burger">
  </div>
</Layout>
