---

---

<section class="bg-zinc-900">
  <div class="w-full h-auto bg-zinc-800 flex items-start bg-transparent">
    <img
      class="max-w h-auto object-contain translucent-right"
      src="/public/banner.png"
      alt="clasic"
    />
  </div>
</section>
