---

---

<section class="bg-zinc-800 px-8" id="menu">
  <h2 class="uppercase text-4xl text-white text-center font-bold p-4">
    Nuestro menú
  </h2>
  <div class="flex flex-wrap">
    <div class="w-full md:w-1/2 p-4">
      <img
        src="/image.png"
        alt="Menú principal"
        class="rounded-xl bg-cover w-full"
      />
    </div>
    <div class="w-full md:w-1/2 p-4 flex flex-col">
      <div class="flex flex-wrap mb-4">
        <img
          src="/public/nosotros.jpg"
          class="bg-cover w-64 h-64 mr-4 mb-4 rounded-xl"
          alt="Imagen adicional 1"
        />
        <img
          src="/nosotros2.png"
          class="bg-cover w-64 h-80 rounded-xl"
          alt="Imagen adicional 2"
        />
      </div>
      <div class="flex justify-center">
        <img
          src="/nostros3.png"
          class="bg-cover w-64 h-72 rounded-xl"
          alt="Imagen adicional 3"
        />
      </div>
    </div>
  </div>
</section>
