---

---
<section id="nosotros" class="bg-zinc-800">
  <h2 class="text-4xl text-white text-center uppercase font-semibold pt-8">
    Nosotros
  </h2>
  <div class="flex flex-wrap">
    <div class="w-full md:w-1/2 py-8 lg:p-8">
      <img
        src="/images/nosotros1.png"
        alt="Descripción de la imagen"
        class="w-full h-90 rounded-3xl"
      />
    </div>
    <div class="w-full md:w-1/2 p-2 lg:p-8 flex justify-center">
      <p class="text-white text-base lg:text-2xl text-center leading-relaxed">
        Burger, Fish and Chips (BFC): El sabor de la tradición con un toque
        innovador. Desde el año 2017, Burger, Fish and Chips (BFC) ha deleitado
        a los paladares más exigentes de Pasto con su irresistible propuesta
        gastronómica. Nacimos con la pasión por la buena comida y el deseo de
        ofrecer una experiencia culinaria única que combinara los sabores
        clásicos con un toque innovador. Nuestra participación en Burger
        Master, el reconocido concurso, nos llevó a posicionarnos entre las 5
        mejores hamburguesas de la ciudad, un logro que nos llena de orgullo y
        nos motiva a seguir superándonos día a día. En BFC, no solo nos
        preocupamos por el sabor, sino también por la calidad de nuestros
        ingredientes. Utilizamos carne 100% de res, pescado fresco y papas
        crujientes, todo preparado con técnicas culinarias tradicionales y un
        toque de creatividad. Nuestro menú ofrece una amplia variedad de
        hamburguesas, desde las clásicas hasta las más gourmet, además de
        deliciosos platos de fish and chips y otras opciones para todos los
        gustos. En BFC, te invitamos a vivir una experiencia gastronómica
        inolvidable. Disfruta de un ambiente cálido y acogedor, un servicio
        atento y la mejor comida de la ciudad. Ven a conocernos y descubre por
        qué somos el lugar favorito de los amantes de las hamburguesas en
        Pasto. ¿Qué esperas? ¡BFC te espera!
      </p>
    </div>
  </div>
</section>
