---

---

<section class="bg-zinc-800" id="ubicacion">
  <h2 class="text-center font-bold text-4xl mb-4 text-white uppercase">
    Estamos ubicados
  </h2>
  <div class="flex flex-wrap lg:flex-nowrap lg:gap-4 justify-center">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.9169800083764!2d-77.28907928964175!3d1.217905661981008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e2ed37fd543f6bf%3A0xd97a7374b9b8bc72!2sCra%2034%20%2312a-79%2C%20Pasto%2C%20Nari%C3%B1o%2C%20Colombia!5e0!3m2!1ses-419!2sus!4v1720976500821!5m2!1ses-419!2sus"
      width="600"
      height="450"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
    <img
      src="/public/images/Ubicacion.png"
      class="lg:w-auto lg:h-[450px] w-full"
      alt="Ubicación"
      srcset=""
    />
  </div>
</section>
